<!DOCTYPE html>
<html lang="en">
{%load static%}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ABOUT US</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'user/about/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link  href="{% static 'user/about/css/grayscale.min.css' %}" rel="stylesheet">
   <style>
    #Title{

      margin-top : 50px;
    } 
    p{
      font-family: "Times New Roman", Times, serif;
      font-size: 21px;
      letter-spacing: 2px;
    }
   </style> 

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"><strong><h2>MEETMENTOR.in</h2></strong></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="file:///Users/aashishchilwal/Desktop/MeetMentor/Landing.html">Home</a>
            </li>
            <li class="active">
              <a class="nav-link js-scroll-trigger" href="#projects"><strong>About Us</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#signup">Be A Mentor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="file:///Users/aashishchilwal/Desktop/MeetMentor/Log_Reg%20-%20Copy/form-2/Get_Started.html">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
 
      <div class="container d-flex h-100 align-items-center">

          <p style = "margin-top : 130px;"><font color="white">
            
            Decisions are the hardest things to make especially when it’s going to be about your future ,
          you have to make a decision which precisely caters your interests , hobbies and passions. In this modern era ,
           with millions of career paths to explore , chances are you may face a dilemma in selecting one . Some just follow their instincts and make the best career choices but on the 
           contrary many repent for making wrong decisions and have to start from scratch. The irony is that good decisions come from experience and experience comes wrong bad decisions. Life 
           does not provide second chances. Made a bad decision? Well , not only have you wasted precious time, but also lowered your self esteem and confidence to bounce back.How do we then explore the choices without 
           making wrong choices?<br><br>Thats when Mentors come to our rescue , being rich with experience and knowledge they can show us the right path and guide us to our ulitmate destination. Finding the right one can sometimes take eternity and in this fast paced world , time is something you'd definitely not want to lose. So then how do we find the best mentors without sacrificing our precious time? Baffled by this , a quartet of students envisioned the idea of building a platform 
           where mentors  can connect with unclear minds and help them make critical decisions about their future career choices.<br><br> Meet Mentor - a website created for the sole purpose of mentor-mentee discussions - was the outcome of that idea. 
           LinkedIn verified profiles and mentee ratings ensure that only the best mentors are in business! All you have to do is create an account , select from a list of a mentors and experience mentorship at its best. Sounds too 
           good to be true but the website is free for all! Our vision at MeetMentor is to provide mentees a platform where they can avail guidance ,  an insight and a virtual experience of the impact that their decisions can make.  
           Join Meet Mentor so that you’ll never doubt your decision.</font></p>
      </div>

    </header>
    <!-- Footer -->
    
    <footer class="bg-black small text-center text-white-50">
   <div>
     <h3> Feel free to contact us for any review or suggestion
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:info@meetmentor.in?Subject=My%20Experience">info@meetmentor.in</a></p>
				</div>
    </footer>

   <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>

  </body>

</html>
