<!DOCTYPE html>
<html lang="en">
{%load static%}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Meet Mentor Landing Page</title>
	

	
       
        <link rel="stylesheet" href="{% static 'user/landing_page/assets/font-awesome/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'user/landing_page/assets/css/form-elements.css' %}">
        <link rel="stylesheet" href="{% static 'user/landing_page/assets/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'user/landing_page/assets/css/footer-distributed-with-address-and-phones.css' %}">
        <link href="{% static 'user/landing_page/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    	<link href="{% static 'user/landing_page/vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'user/landing_page/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'user/landing_page/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'user/landing_page/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'user/landing_page/css/creative.min.css' %}" rel="stylesheet">
  <style>
  #h1{
    padding-bottom: 40px;
  }
  #M{
    margin-top: 100px;	
    margin-right: 20px ;
  }
#W{  	
   margin-top:50px;
   margin-right: 100px;
   }
	#jm{
background-color : #FD5C00;  
}
#jn{
  margin-top: 0px;
   background-color : #FD5C00;
  width : 100%;
  height : auto ;
}
#M{
  font-size : 34px;
}
#D{
  margin-left : 10px;
  margin-right : 10px;
}
#font{
  margin-top : 210px;
}
#sec{
margin-bottom : 0px;
}
#img{
      width: 230px;
      height : 300px;
}

#footer{
  background-color : #FD5C00;
  margin-top: 0px;
  margin-bottom : 0px;
}
#f{
  font-size : 19px;
}
#sect{
  margin-top : 10px;
}
.header{
  text-align : center;
}

  </style>  

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
          <h3 class="text-left"> <font color="#FD5C00" id ="M">MeetMentor.in</font></h3></a>
       
       
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
             <a class="nav-link js-scroll-trigger" href="#" id ="/home"> <strong><font color="#FD5C00" id ="f"> Home </font></strong> </a>
            </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/about"> <strong><font color="#FD5C00" id ="f">About Us </font></strong> </a>
            </li>
              <li>

               <a class="nav-link js-scroll-trigger" href="mailto:info@meetmentor.in"> <strong><font color="#FD5C00" id ="f">CONTACT US </font></strong> </a>

              </li>
            <li class="nav-item">
              <font color="#FD5C00"><a class="nav-link js-scroll-trigger" href="#"> <strong><font color="#FD5C00" id ="f"> BE A MENTOR  </font></strong> </a>  
            </li>
            <li class="nav-item">
              <font color="#FD5C00"><a class="nav-link js-scroll-trigger" href="/login" id ="f"> <strong><font color="#FD5C00"> LOGIN </font></strong> </a>
             </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex" id="sec">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase" id="M">
              <strong>Meet Mentor</strong>
            </h1><hr>
	 <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5" id="W"><h3><strong><font color= "white" id="W">We Level The Playing Field</font></strong></h3></p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="file:///Users/aashishchilwal/Desktop/MeetMentor/Log_Reg%20-%20Copy/form-2/Get_Started.html" id="font">Get Started</a>
          
    </div>
          </div>
          </div>
        </div>

    </header>

<section class="bg-dark text-white">
 <p><h2 class="text-center"><strong><font color="white" id="D">For The Sole Purpose Of Making A Difference In The Wolrd!</font></strong></h2></p> 
 <p align = "center"><strong><font color="white">Decisions are the hardest things to make , especially when it’s about your future , you'll have to make a decision
   which will  precisely cater your interests , <br>hobbies and passions. Not a good decision maker? Relax ! Meet Mentor is well equipped with mentors from various professional backgrounds ; <br>ready to
   guide you , inspire you , motivate you and do whatever it takes so that your decision will never go wrong ! 	  
   
 </font></strong></p><hr>
 <p class="text-center"><a class="button btn-primary btn-lg" href="file:///Users/aashishchilwal/Desktop/MeetMentor/Aboutus/Aboutus.html">Read More</a></p>
</section>

  <section id="jn">
      <div class="container">
        <font color="white">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading" id="w">At Your Service Always!</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-handshake "  style="color:white"></i>
              <h3 class="mb-3">Direct Contact</h3>
              <p class=" mb-0">We Provide A Platform For Direct Contact With Experts For Mentorship Opportunities.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-clock "  style="color:white"></i>
              <h3 class="mb-3">Quick Start</h3>
              <p class=" mb-0">Expedite Your Process To Find A Mentor</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-map-marked-alt "  style="color:white"></i>
              <h3 class="mb-3">Locality Search</h3>
              <p class= "mb-0">Find Great Mentors Near You!</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-angle-double-up "  style="color:white"></i>
              <h3 class="mb-3">Personal Growth</h3>
              <p class="mb-0">Experience The Fasttrack Growth!</p>
            </div>
          </div>
        </div>
      </font>
      </div>
    </section>	
   
    <section  class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="text-center" id="h1">Our Amazing Team!</h2>
        <div class="row">
          <div class="col-sm-3">
            <div class="team-member">
              <img class="mx-auto thumbnail" src="{%static 'user/landing_page/team/Shreyas2.jpg'%}" height = "100px"  style="width: 175px; height: auto;" alt="">
              <br>

                <h4>Shreyas Kharbanda</h4>
              <p class="text-muted">Chief Executive Officer,Co-Founder</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member">
              <img class="mx-auto thumbnail" src="{%static 'user/landing_page/team/Ajay.jpg'%}" style="width: 175px; height: auto;" alt="">

                <br>
              <h4>Ajay Rawat</h4>
              <p class="text-muted">Chief Technology Officer,Co-Founder</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member">
              <img class="mx-auto thumbnail" src="{%static 'user/landing_page/team/Aasish.jpg' %} " style="width: 175px; height: auto;" alt="">
              <h4>Aashish Chilwal</h4>
              <p class="text-muted">Chief Web Designer,Co-Founder</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member">
              <img class="mx-auto thumbnail" src="{%static 'user/landing_page/team/Aasnshul.jpg' %}" style="width: 175px; height: auto;" alt="">
              <br>
                <br>
              <h4>Anshul Agarwal</h4>

              <p class="text-muted">Chief Information Officer,Co-Founder</p>
            </div>
          </div>

<h6 class="text-center"> <p class="large">We As Students Understand Your Needs For Guidance And Have Strived To Create The Best Platform For Your Gain Of Direct Access To World Class Mentors! </p></h6>

        </div>
      </div>
      </section>

      <div class="jumbotron" id="footer">
                  <font color="white">
                  <h2 class="text-center" id="sect">Connect With Us ; Share Your Experience ; Suggest Us Ways To Improve!</h2><br>
                    <hr class="my-4">
                    <p class="mb-5">We Strive For Continuous Improvements And Your Review Can Provide Us Valuable Insight, E-mail Us your Experience And Help Us Grow!  </p>

                  <div class=" text-center">
                    <a href="mailto:info@meetmentor.in?Subject=My%20Experience"></a><i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
                    <p>
                      <a href="mailto:info@meetmentor.in?Subject=My%20Experience"><font color="white">info@meetmentor.in</font></a><hr>
                    </p>
                  </div>
                
              <h5 class="header"><strong><font color="white">Copyright &copy; MeetMentor 2018</font></strong></h5>
              </font>
              </div>
          </footer>

          
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'user/landing_page/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'user/landing_page/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'user/landing_page/vendor/jquery-easing/jquery.easing.min.js'%}"></script>
    <script src="{% static 'user/landing_page/vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'user/landing_page/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>

  </body>

</html>
